CONFIG_ACPI_AC=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_ACPI_APEI_GHES=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_ACPI_APEI=n
CONFIG_ACPI_BATTERY=n
CONFIG_ACPI_BUTTON=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ACPI_FAN=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_ACPI_HED=n
CONFIG_ACPI_PCC=n
CONFIG_ACPI_PRMT=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_DVB_CORE=n
CONFIG_FB_EFI=n
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_TUNER=n
CONFIG_RC_CORE=n
CONFIG_VIDEO_IMX219=n
CONFIG_VIDEO_IV5647=n
CONFIG_VIRTIO_VIDEO=n
CONFIG_XEN=n
