CONFIG_ACPI_AC=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_ACPI_APEI_GHES=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_ACPI_APEI=n
CONFIG_ACPI_BATTERY=n
CONFIG_ACPI_BUTTON=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ACPI_FAN=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_ACPI_HED=n
CONFIG_ACPI_PCC=n
CONFIG_ACPI_PRMT=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_DRM_PANEL_RAYDIUM_RM68200=n
CONFIG_DRM_PANEL_RAYDIUM_RM692C9=n
CONFIG_DRM_PANEL_ROCKTECK_HIMAX8394F=n
CONFIG_DRM_PANEL_SEIKO_43WVF1G=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_DRM_PANEL_TIANMA_TM050RDH03=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_DRM_PANEL_WKS_101WX001=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_DRM_LONTIUM_LT9611=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_DRM_MAX96752_LVDS=n
CONFIG_DRM_MAX96789_DSI=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_DRM_NXP_SEIKO_43WVFIG=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_DRM_SII902X=n
CONFIG_DRM_SIMPLE_BRIDGE=n
CONFIG_DRM_THINE_THC63LVD1024=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_DRM_WAVESHARE_BRIDGE=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_DRM_IMX95_LDB=n
CONFIG_DRM_IMX95_MIPI_DSI=n
CONFIG_DRM_IMX95_PIXEL_INTERLEAVER=n
CONFIG_DRM_IMX95_PIXEL_LINK=n
CONFIG_DRM_IMX952_MIPI_DSI2=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_DRM_DW_HDMI_CEC=n
CONFIG_DRM_ITE_IT6263_NXP=n
CONFIG_DRM_ITE_IT6161=n
CONFIG_DRM_IMX_LCDIF_MUX_DISPLAY=n
CONFIG_DRM_IMX_PARALLEL_DISPLAY=n
CONFIG_DRM_IMX_TVE=n
CONFIG_DRM_IMX_LDB=n
CONFIG_DRM_IMX8QM_LDB_NXP=n
CONFIG_DRM_IMX8QXP_LDB_NXP=n
CONFIG_DRM_IMX93_LDB=n
CONFIG_DRM_IMX_DW_MIPI_DSI=n
CONFIG_DRM_IMX93_PARALLEL_DISPLAY_FORMAT=n
CONFIG_DRM_IMX_DCIF=n
CONFIG_DRM_IMX_DCNANO=n
CONFIG_DRM_IMX95_DPU=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_DRM_IMX_CDNS_MHDP=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_MXSFB=n
CONFIG_DRM_PL111=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_PANFROST=n
CONFIG_DRM_PANTHOR=n
CONFIG_DVB_CORE=n
CONFIG_FB_EFI=n
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_RADIO_SUPPORT=n
CONFIG_MEDIA_TUNER=n
CONFIG_RC_CORE=n
CONFIG_VIDEO_IMX219=n
CONFIG_VIDEO_IV5647=n
CONFIG_VIRTIO_VIDEO=n
CONFIG_XEN=n
