CONFIG_LOCALVERSION="-iot-gate-imx8m-4.0"
CONFIG_BT_BCM=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_BT_HCIBTUSB_RTL=n
CONFIG_CAN=y 
CONFIG_CAN_RAW=y
CONFIG_CAN_DEV=y
CONFIG_CAN_FLEXCAN=n
CONFIG_CAN_MCP251XFD=m
CONFIG_CAN_BCM=m
CONFIG_CAN_GW=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=m
CONFIG_CPU_FREQ_GOV_POWERSAVE=m
CONFIG_DRM=n
CONFIG_ENCX24J600=m
ONFIG_INPUT_TOUCHSCREEN=n

CONFIG_SECURITY_APPARMOR=y
CONFIG_SECURITY_SELINUX=y
CNFIG_NL80211_TESTMODE=y

CONFIG_LOGO=n
CONFIG_MXC_MIPI_CSI=n
CONFIG_MXC_CAMERA_OV5640_MIPI_V2=n
CONFIG_TOUCHSCREEN_GOODIX=n

CONFIG_PSTORE=y
CONFIG_PSTORE_DEFAULT_KMSG_BYTES=10240
CONFIG_PSTORE_DEFLATE_COMPRESS=y
CONFIG_PSTORE_COMPRESS=y
CONFIG_PSTORE_DEFLATE_COMPRESS_DEFAULT=y
CONFIG_PSTORE_COMPRESS_DEFAULT="deflate"
