CONFIG_LOCALVERSION="-ucm-imx8m-mini-4.0"
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_DRM_FSL_IMX_LVDS_BRIDGE=y
CONFIG_DRM_IMX_DCSS=y
CONFIG_DRM_IMX_LCDIF_MUX_DISPLAY=y
CONFIG_DRM_IMX_SEC_DSIM=y
CONFIG_DRM_LEGACY=y
CONFIG_DRM_PANEL_SIMPLE=y
CONFIG_DRM_PANEL_STARTEK_ILI9881C=y
CONFIG_DRM=y
CONFIG_BACKLIGHT_GENERIC=m
CONFIG_BACKLIGHT_LP855X=m
CONFIG_BACKLIGHT_PWM=y
CONFIG_BRCMDBG=y
CONFIG_BRCMFMAC=m
CONFIG_BRCMFMAC_PCIE=y
CONFIG_BRCM_TRACING=y
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_EXTRA_FIRMWARE="brcm/BCM4335C0.hcd"
CONFIG_FB=y
CONFIG_LOGO=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_MXC_MIPI_CSI=y
CONFIG_VIDEO_MXC_CAPTURE=y
CONFIG_MXC_CAMERA_OV5640_MIPI_V2=y
CONFIG_VIDEO_OV5640=y
CONFIG_V4L_PLATFORM_DRIVERS=y
CONFIG_MEDIA_PLATFORM_SUPPORT=y
CONFIG_VIDEO_MX8_CAPTURE=y
CONFIG_VIDEO_MXC_CSI_CAMERA=y
CONFIG_CAN_MCP251XFD=m
