CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_FB=y
CONFIG_LOGO=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_DRM=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_IMX8MM_LCDIF_CORE=y
CONFIG_DRM_IMX=y
CONFIG_DRM_IMX8MM_LCDIF=y
CONFIG_DRM_IMX_LCDIF_MUX_DISPLAY=y
CONFIG_DRM_IMX_SEC_DSIM=y
CONFIG_DRM_I2C_ADV7511=y
CONFIG_DRM_I2C_ADV7511_AUDIO=y
CONFIG_CRC8=m
CONFIG_BT_NXPUART=m
