CONFIG_LOCALVERSION="-summit"
CONFIG_BT=n
CONFIG_BT_RFCOMM=n
CONFIG_BT_RFCOMM_TTY=n
CONFIG_BT_BNEP=n
CONFIG_BT_BNEP_MC_FILTER=n
CONFIG_BT_BNEP_PROTO_FILTER=n
CONFIG_BT_HIDP=n
CONFIG_BT_LEDS=n
# CONFIG_BT_DEBUGFS is not set
CONFIG_BT_HCIBTUSB=n
CONFIG_BT_HCIUART=n
CONFIG_BT_HCIUART_BCSP=n
CONFIG_BT_HCIUART_ATH3K=n
CONFIG_BT_HCIUART_LL=n
CONFIG_BT_HCIUART_3WIRE=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_BT_HCIVHCI=n
CONFIG_BT_MRVL=n
CONFIG_BT_MRVL_SDIO=n
CONFIG_BT_NXPUART=n
CONFIG_CFG80211=n
CONFIG_NL80211_TESTMODE=n
CONFIG_CFG80211_WEXT=n
CONFIG_MAC80211=n
CONFIG_MAC80211_LEDS=n
CONFIG_WLAN_VENDOR_NXP=n
CONFIG_WL18XX=n
CONFIG_WLCORE_SDIO=n
