#include "overlay95.h"

&{/} {
	lvds_panel: panel  {
		compatible = "boe,hv070wsa-100";
		backlight = <&lvds_backlight>;
		enable-gpios = <&pca9555_20 3 GPIO_ACTIVE_HIGH>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&lvds0_out>;
			};
		};
	};

	lvds_backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&tpm4 2 6666667 PWM_POLARITY_INVERTED>;
		brightness-levels = <255 203 158 119 88 63 45 0>;
		default-brightness-level = <6>;
	};

	/* touch screen reset helper */
	ts_reset: regulator-tsreset {
		compatible = "regulator-fixed";
		regulator-name = "tosuch-reset";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pca9555_20 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};
};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	goodix_ts@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;

		interrupt-parent = <&gpio2>;
		interrupts = <19 IRQ_TYPE_LEVEL_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts>;

		irq-gpios = <&gpio2 19 GPIO_ACTIVE_HIGH>;
/* To be investigated; the drived does not take the device
 * out of reset if reset-gpios is defined inside the device node
 * as of now the ts_reset regulator allows working with the device
 */
		/* reset-gpios = <&pca9555 4 0>; */
		touchscreen-inverted-x;
		touchscreen-inverted-y;
		status = "okay";
	};
};

&lvds_panel {
	status = "okay";
};

&lvds_backlight {
	status = "okay";
};

&display_pixel_link {
	status = "okay";
};

&dpu {
	assigned-clocks = <&scmi_clk IMX95_CLK_DISP1PIX>,
			  <&scmi_clk IMX95_CLK_VIDEOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_VIDEOPLL1>;
	assigned-clock-parents = <&scmi_clk IMX95_CLK_VIDEOPLL1>;
	assigned-clock-rates = <0>, <4008000000>, <445333334>;
	status = "okay";
};

&mipi_dsi {
	status = "disabled";
};

&ldb {
	#address-cells = <1>;
	#size-cells = <0>;
	assigned-clocks = <&scmi_clk IMX95_CLK_LDBPLL_VCO>,
			  <&scmi_clk IMX95_CLK_LDBPLL>;
	assigned-clock-rates = <2986200000>, <497700000>;
	/* assigned-clock-rates = <3291120000>, <1097040000>; */
	status = "okay";

	channel@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0>;
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		port@1 {
			reg = <1>;

			lvds0_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&ldb0_phy {
	status = "okay";
};

&pixel_interleaver {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	channel@0 {
		reg = <0>;
		status = "okay";
	};
};

&tpm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_tpm4>;
	status = "okay";
};

&scmi_iomuxc {
	pinctrl_tpm4: tpm4grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO13__TPM4_CH2	0x51e
		>;
	};

	pinctrl_ts: ts1grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO19__GPIO2_IO_BIT19 0x3fe
		>;
	};
};
