// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 CompuLab LTD.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "../freescale/imx95-clock.h"
#include "../freescale/imx95-pinfunc.h"

&pca9555 {
    mipi-csi-poweron-hog {
        gpio-hog;
        gpios = <6 GPIO_ACTIVE_HIGH>;
        output-high;
        status = "okay";
    };
};

&lpi2c8 {

    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    imx477: imx477@1a {
        compatible = "sony,imx477";
        reg = <0x1a>;
        csi_id = <0>;
        rst-gpios = <&pca9555 7 GPIO_ACTIVE_HIGH>;

        orientation = <2>;
        rotation = <0>;
        status = "okay";

        //clock-names = "xclk";
        clocks = <&scmi_clk IMX95_CLK_LPI2C8>;

        port {
            imx477_mipi_0_ep: endpoint {
                remote-endpoint = <&mipi_csi0_ep>;
                data-lanes = <1 2>;
                clock-lanes = <0>;
                link-frequencies = /bits/ 64 <456000000>;
            };
        };
    };
};

&dphy_rx {
    status = "okay";
};

&mipi_csi0 { 
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            mipi_csi0_ep: endpoint {
                remote-endpoint = <&imx477_mipi_0_ep>;
                data-lanes = <1 2>;
                clock-lanes = <0>;
            };
        };
        port@1 {
            reg = <1>;
            mipi_csi0_out: endpoint {
                remote-endpoint = <&formatter_0_in>;
            };
        };
    };
};

&csi_pixel_formatter_0 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;

            formatter_0_in: endpoint {
                remote-endpoint = <&mipi_csi0_out>;
            };
        };

        port@1 {
            reg = <1>;

            formatter_0_out: endpoint {
                remote-endpoint = <&isi_in_2>;
            };
        };
    };
};

&isi {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@2 {
            reg = <2>;

            isi_in_2: endpoint {
                remote-endpoint = <&formatter_0_out>;
            };
        };
    };
};

&neoisp0 {
    status = "okay";
};
