#include "overlay.h"

/* Enable ISO1_5V */
&reg_en_5v_iso1 {
	enable-active-high;
};

/* Disable CAN B interface */
&can_b {
	status = "disabled";
};

/* Enable RS485 B interface */
&rs485_b {
	status = "okay";
};

/* Select RS485 signals on the MUX-A */
&sel_b {
	output-high;
	line-name = "SEL_B_RS485";
	status = "okay";
};
