// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 CompuLab
 */

/dts-v1/;

#include "mcm-imx8m-plus-headless.dts"
#include "mcm-imx8m-plus-hdmi.dtsi"

/ {
	model = "CompuLab MCM-iMX8M-Plus (hdmi)";
	compatible = "compulab,mcm-imx8m-plus", "fsl,imx8mp";
};
