// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 CompuLab
 */

/dts-v1/;

#include "mcm-imx95-som.dtsi"
#include "sb-mcm-imx95-sbc.dtsi"

&{/} {
	cl_devicetree: cl-devicetree {
		mcm-imx95-sbc;
	};
};
