&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	pca9555:pca9555@20 {
		compatible = "nxp,pca9555";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
		status = "okay";
	};

	eeprom@54 {
		compatible = "atmel,24c08";
		reg = <0x54>;
		pagesize = <16>;
		status = "okay";
	};
};
