/dts-v1/;

#include "ucm-imx8m-plus.dts"

/ {
	model = "CompuLab UCM-iMX8M-Plus (rm67199)";
	compatible = "compulab,ucm-imx8m-plus", "fsl,imx8mp";
};

&mipi_dsi {
	panel@0 {
		compatible = "raydium,rm67199";
		dsi-lanes = <4>;
		video-mode = <2>;	/* 0: burst mode
					 * 1: non-burst mode with sync event
					 * 2: non-burst mode with sync pulse
					 */
		panel-width-mm = <68>;
		panel-height-mm = <121>;
	};
};

&i2c5 {
	goodix_ts@14 {
		compatible = "goodix,gt1151";
		reg = <0x14>;
		edge-failling-trigger;
		touchscreen-size-x = <1080>;
		touchscreen-size-y = <1920>;
	};
};
