/*
 * Copyright 2024 CompuLab
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&{/} {
	dsi_backlight: dsi_backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 3000000 0>;
		brightness-levels = <15 255>;
		num-interpolated-steps = <15>;
		default-brightness-level = <10>;
		status = "okay";
	};
};

&i2c5 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c5>;
	status = "okay";

	mipi_ts: goodix_ts@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;

		interrupt-parent = <&gpio4>;
		interrupts = <12 IRQ_TYPE_LEVEL_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&touchscreen_pins>;

		irq-gpios = <&gpio4 12 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pca9555 5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&iomuxc {

	pinctrl_i2c5: i2c5grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI5_MCLK__I2C5_SDA		0x400001c2
			MX8MP_IOMUXC_SAI5_RXD0__I2C5_SCL		0x400001c2
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_EXT_CLK__PWM1_OUT	0x116
		>;
	};

	touchscreen_pins: tsgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXD0__GPIO4_IO12	0x00
		>;
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	mipi_panel: panel@0 {
		compatible = "startek,kd050hdfia020";
		reg = <0>;
		reset-gpio = <&pca9555 4 GPIO_ACTIVE_LOW>;
		dsi-lanes = <4>;
		backlight = <&dsi_backlight>;
		status = "okay";
	};
};

&lcdif1 {
	status = "okay";
};
